:root{
  --havelock-blue-50: #f3f6fc;
  --havelock-blue-100: #e7eef7;
  --havelock-blue-200: #c9dbee;
  --havelock-blue-300: #9abddf;
  --havelock-blue-400: #649bcc;
  --havelock-blue-500: #518cc2;
  --havelock-blue-600: #2f649a;
  --havelock-blue-700: #27507d;
  --havelock-blue-800: #244568;
  --havelock-blue-900: #223b58;
  --havelock-blue-950: #17263a;

}

* {

  box-sizing: border-box;
}
html, body {
  width: 100vw;
  height: 100vh;
  background: rgb(23,38,58);
  background: -moz-linear-gradient(121deg, rgba(23,38,58,1) 0%, rgba(36,69,104,1) 100%);
  background: -webkit-linear-gradient(121deg, rgba(23,38,58,1) 0%, rgba(36,69,104,1) 100%);
  background: linear-gradient(121deg, rgba(23,38,58,1) 0%, rgba(36,69,104,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#17263a",endColorstr="#244568",GradientType=1);
}
.gb-container{
  box-shadow: 0px 0px 3px 1px var(--havelock-blue-100);
  border-radius: 1rem;
  background-color: var(--havelock-blue-50);
  margin: auto;
  margin-top: 3rem;
  max-width: 1200px;
  height: fit-content;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 2rem;
}

.custom-file{
  margin: 1rem 0 1rem 0;

}
#midiPlayerContainer {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  flex-flow: column;
  width: 100%;
}
.staff-container {
  width: 100%;
  padding-right: 50%;
  overflow: auto;
}
.staff-content {
  width: 100%; /* Ajusta el ancho según tus necesidades */
}
.visualizer {
  width: fit-content;
}

#waterfall-visualizer{
  border-radius: 0.3rem;
  box-shadow: 1px 8px 5px 0px rgba(81,140,194,0.25) inset;
  -webkit-box-shadow: 1px 8px 5px 0px rgba(81,140,194,0.25) inset;
  -moz-box-shadow: 1px 8px 5px 0px rgba(81,140,194,0.25) inset;
}

#staff-visualizer{

  background-color: var(--havelock-blue-100);
  border-radius: 0.3rem;
  border:1px solid var(--havelock-blue-950);
}

midi-player {
  width: 100%;
}

@keyframes scrollRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%); /* Adjust this value to control the scrolling distance */
  }
}